.searchBtnInPage1 {
  border-radius: 0px 5px 5px 0px !important;
}

.searchInputInPage {
  border-radius: 5px 0px 0px 5px;
}

@media (min-width: 551px) {
  .searchBtnInPage2 {
    display: none !important;
  }
  .searchInputInPage {
    width: 50% !important;
  }
}
@media (min-width: 768px) {
  .searchInPage {
    display: none !important;
  }
}
@media (max-width: 550px) {
  .searchBtnInPage1 {
    display: none !important;
  }
  .searchInputInPage {
    width: 65% !important;
  }
}
@media (max-width: 400px) {
  .searchInputInPage {
    width: 75% !important;
  }
}
